.wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    width: 800px;
    height: 800px;
    max-width: 800px;
    max-height: 800px;
}

.container {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-width: 400px;

}

.column {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.grid {
    display: flex;
    flex: 1 0 auto;
    height: auto;
    width: auto;
    border: 1px solid black;
}

.btn {
    display: flex;
    max-width: 110px;
}